#colonneISBN {
    width: 200px;
}
.tdPlusieursResultats {
    text-align: center;
}
#success-message {
    color : green;    
}
#fail-message {
    color: red;
    text-decoration: buttonshadow underline;
}