<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>pilote JDBC</description>
        <param-name>jdbcDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <description>URL de la database pour les connexions JDBC</description>
        <param-name>databaseURL</param-name>
        <param-value>jdbc:mysql://localhost/livres?user=root&amp;password=root</param-value>
    </context-param>
    <servlet>
        <servlet-name>ControleurFrontal</servlet-name>
        <servlet-class>com.projet.web.mvc.ControleurFrontal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercherParISBN</servlet-name>
        <servlet-class>com.projet.web.mvc.RechercherParISBN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercherParMotsClesDansTitre</servlet-name>
        <servlet-class>com.projet.web.mvc.RechercherParMotsClesDansTitre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercherParDescription</servlet-name>
        <servlet-class>com.projet.web.mvc.RechercherParDescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercherParMotsCles</servlet-name>
        <servlet-class>com.projet.web.mvc.RechercherParMotsCles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsulterLaListeDesCours</servlet-name>
        <servlet-class>com.projet.web.mvc.ConsulterLaListeDesCours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluerUnLivre</servlet-name>
        <servlet-class>com.projet.web.mvc.EvaluerUnLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrouverTousLesCours</servlet-name>
        <servlet-class>com.projet.web.mvc.TrouverTousLesCours</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleurFrontal</servlet-name>
        <url-pattern>/controleurFrontal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.projet.web.mvc.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.projet.web.mvc.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>soumettreUneEvaluation</servlet-name>
        <servlet-class>com.projet.web.mvc.SoumettreUneEvaluation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>soumettreUneEvaluation</servlet-name>
        <url-pattern>/submitEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercherParISBN</servlet-name>
        <url-pattern>/findByISBN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercherParMotsClesDansTitre</servlet-name>
        <url-pattern>/findByKeywordInTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercherParDescription</servlet-name>
        <url-pattern>/findByDescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercherParMotsCles</servlet-name>
        <url-pattern>/findByKeyword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsulterLaListeDesCours</servlet-name>
        <url-pattern>/showCoursesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluerUnLivre</servlet-name>
        <url-pattern>/evaluateABook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrouverTousLesCours</servlet-name>
        <url-pattern>/findAllCourses</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
